@{
    ViewData["Title"] = "Home Page";
}

<h1>Cryptology Cypher List</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>№</th>
            <th>Cypher</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1.</td>
            <td><a asp-controller="Cyphers" asp-action="CaesarCypher" class="link-primary">Caesar Cypher</a></td>
            <td>Easy cypher - shift text characters by a fixed number of positions</td>
        </tr>
        <tr>
            <td>2.</td>
            <td><a asp-controller="Cyphers" asp-action="TrithemiusCypher" class="link-primary">Trithemius Cypher</a></td>
            <td>Improved Caesar cypher - lags behind the given symbol</td>
        </tr>
        <tr>
            <td>3.</td>
            <td><a asp-controller="Cyphers" asp-action="GammaCypher" class="link-primary">Gamma Cypher</a></td>
            <td>XOR cypher - uses claim word and could be written as formula</td>
        </tr>
        <tr>
            <td>4.</td>
            <td><a asp-controller="Cyphers" asp-action="KnapsackCypher" class="link-primary">Knapsack Cypher</a></td>
            <td>Сryptographic method utilizing subset sum for encryption</td>
        </tr>
        <tr>
            <td>5.</td>
            <td><a asp-controller="Cyphers" asp-action="RsaCypher" class="link-primary">RSA Cypher</a></td>
            <td>Asymmetric encryption for secure communication and data protection</td>
        </tr>
        <tr>
            <td>6.</td>
            <td><a href="#" class="link-primary">Cypher 6</a></td>
            <td>Will be soon...</td>
        </tr>
    </tbody>
</table>
