@{
    ViewData["Title"] = "Home Page";
}

<h1>Cryptology Cypher List</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>№</th>
            <th>Cypher</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td><a asp-controller="Cyphers" asp-action="CaesarCypher" class="link-primary">Caesar Cypher</a></td>
            <td>Easy cypher</td>
        </tr>
        <tr>
            <td>2</td>
            <td><a href="#" class="link-primary">Cypher 2</a></td>
            <td>Easy cypher</td>
        </tr>
        <tr>
            <td>3</td>
            <td><a href="#" class="link-primary">Cypher 2</a></td>
            <td>Easy cypher</td>
        </tr>
        <tr>
            <td>4</td>
            <td><a href="#" class="link-primary">Cypher 2</a></td>
            <td>Easy cypher</td>
        </tr>
        <tr>
            <td>5</td>
            <td><a href="#" class="link-primary">Cypher 2</a></td>
            <td>Easy cypher</td>
        </tr>
        <tr>
            <td>6</td>
            <td><a href="#" class="link-primary">Cypher 2</a></td>
            <td>Easy cypher</td>
        </tr>
    </tbody>
</table>
